@media (prefers-reduced-motion: no-preference) {
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  background-color: paleturquoise;
  height: 75px;
}

.navWrapper > a {
  display: flex;
  flex-direction: column;
}

.iconButton {
  margin-top: 10px;
  color: linen;
  align-self: center;
}

.petDiv {
  text-align: center;
}

a {
  text-decoration: none;
}

.iconButton3 {
  margin-top: 10px;
  color: linen;
  align-self: center;
}

.findDiv {
  text-align: center;
}

.petdetailsDiv {
  text-align: center;
}

