* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: burlywood;
  box-shadow: inset 1px 1px 11px 0px #fbecd5;
  height: 80px;
}

.navWrapper > a {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.petDiv {
  text-align: center;
}

a {
  text-decoration: none;
}
.iconButton {
  color: linen;
  align-self: center;
  margin-top: 5px;
}

.iconButton1 {
  margin-top: 15px;
  color: linen;
}
.iconButton2 {
  margin-top: 15px;
  color: linen;
}
.iconButton3 {
  margin-top: 15px;
  color: linen;
}
.iconButton4 {
  margin-top: 15px;
  color: linen;
}

.iconButton5 {
  margin-top: 15px;
}
.iconMail {
  color: gray;
}
.iconPhone {
  color: gray;
}

.findDiv {
  text-align: center;
}

.petdetailsDiv {
  text-align: center;
}
.donateDiv {
  text-align: center;
}
.inputBox {
  height: 450px;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: small;
  font-weight: bold;
  background-color: linen;
}
.inputButton {
  background-color: burlywood;
  color: brown;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  width: 300px;
}

.eachPets {
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 16px black;
  margin-top: 10px;
  background-color: #faf0e6;
}
.all-pets {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: linen;
}
.echPetImg {
  margin: 10px 10px;
  border-radius: 10px;
  box-shadow: 0 0 4px black;
  height: 200px;
}

.iconButton5 {
  color: linen;
}

.oragizationsDiv {
  text-align: center;
}

.box-text {
  text-align: center;
}

.socialDiv {
  float: center;
}

.pics {
  width: 300px;
  height: 500px;
}

.carousel .thumbs {
  display: none;
}
.carousel-caption.d-none.d-md-block {
  background-color: linen;
}
.carousel .slide {
  background: rgba(255, 255, 255, 0) !important;
}

.findImg {
  margin-top: 20px;
  width: 275px;
  height: 200px;
}

.carousel-status {
  display: none !important;
}
.card-org {
  background-color: whitesmoke;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-item {
  width: 30%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 7px 0px black;
  margin-top: 10px;
}
.find-box {
  width: 350px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 11px black;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.findPetRender {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: linen;
}
.navIcon {
  display: flex;
  justify-content: space-around;
}

.StickyFooter {
  position: fixed;
  top: 100vh;
}

form {
  padding-top: 40px;
  margin-left: 30px;
  text-align: center;
  color: brown;
}

input {
  width: 290px;
  height: 20px;
  box-shadow: 0 0 4px 2px gray;
}
.p1 {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 13px;
}
.nav1 {
  text-align: center;
}
.spanP {
  border-radius: 5px;
}
